* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body{
	height:100%;
	box-sizing: border-box;
	color: #fff;
}

input {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-progress-appearance: none;
	background: none;
	outline: none;
	display: block;
}

a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}


li {
	list-style: none;
}